.inout{
    display: flex;
    width: 11%;
    height: 40px;
    padding: 10px;
    margin: 0;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    gap: 10px;
}

.circle1{
    border-radius: 100%;
    width: 12px;
    height: 12px;
    background-color: var(--colorred);
}
.circle2{
    border-radius: 100%;
    width: 12px;
    height: 12px;
    background-color: var(--colororange);
}
.circle3{
    border-radius: 100%;
    width: 12px;
    height: 12px;
    background-color: var(--colorgreen);
}


.header h1{
    font-size: 4rem;
    font-family: var(--font-family-cormorant);
    font-weight: 500;
    color: var(--colorhover);
}

/*PAI*/
.columnRight{
    display: flex;
    width: 89%;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 10px;
}

/*FILHO SEARCH*/

.search-wrapper {
    width: 50%;
}

form {
    position: relative;
    width: 400px;
    background:white;
    border-radius: 10px;
  }
  
  input, button {
    height: 40px;
    font-family: var(--font-family-poppins);
    border: 2px solid var(--colorletter);
    color: var(--colorletter-black);
    font-size: 5rem;
  }
  
  input[type="search"] {
    outline: 0;
    width: 100%;
    background: white url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"%3E%3Ccircle cx="11" cy="11" r="8"%3E%3C/circle%3E%3Cline x1="21" y1="21" x2="16.65" y2="16.65"%3E%3C/line%3E%3C/svg%3E') no-repeat 10px center;
    background-size: 20px;
    padding: 0 10px 0 40px; /* Espaço para o ícone */
    border-radius: 5px;
    appearance: none;
    transition: all 0.3s cubic-bezier(0, 0, 0.43, 1.49);
    transition-property: width, border-radius;
    z-index: 2;
  }
  
  button {
    display: none; 
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    font-weight: bold;
    background: var(--colorhover);
    border-radius: 0 7px 7px 0;
  }
  
  input:not(:placeholder-shown) {
    border-radius: 7px 0 0 7px;
    width: calc(100% - 60px);
    + button {
      display: block;
    }
  }
  label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 5px;
    width: 5px;
    overflow: hidden;
  }
/*FILHO ICONS*/
  
  .icons{
    width: 50%;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: flex-end;
  }
  
  .icons nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
    gap: 25px;
    list-style: none;
  }
  
  .icons nav ul img{
    width: 38px;
    height: 38px;
    border-radius: 100%;
  }
  
  .icons nav ul svg {
    stroke: var(--colorletter);
  }