
/*ATT fazer @import para o css*/

@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-family-montserrat: 'Montserrat', sans-serif;
    --font-family-cormorant: "Cormorant", serif;
    --font-family-poppins: "Poppins", serif;

    
    
    --colorletter-black: var(--color-dark);
    

    --colorbackground: #171821;
    --colorbackgroundgrey: #21222D;
    --colorgrey: #A0A0A0;
    --colorgrey2: #2B2B36;

    
    --colorhover: #A9DFD8;
    --colorred: #EA1701;
    --colorgreen: #029F04;
    --colororange: #FEB002;
    
    --colorletter: #87888C;
    --h1: #ffffff;
    --h2: #87888C;
    --h3: #A0A0A0;
    --p: #A0A0A0;
    
    --backgroundinside: #171821; 



  }