:root{
    
    --color01:#141414;
    --color02:#E50914;
    --color03: #5B5B5B;
    --color04: #A7A7A7;
    --white: #FFFFFF;
    --black:#000000;
    --fontWeightMedium: 500;
    --fontWeightSemiBold: 600;
    --fontWeightBold: 700;
}