@import url("variables.css");

/*AJUSTES INICIAIS*/

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fontfamilyheader: "Cormorant", serif;
    --fontfamilybody1: 'Roboto', sans-serif;
    --fontfamilybody2: "Roboto Flex", serif;
    --color01:#ddd5c2;
    --color02:#efe7d2;
    --color03:#c2bcab;
    --color04:#0a0b0a;
    --color05:#906440;
    --color06:#8c918a;
    --color07:#000000;
    --color08:#ffffff;
    --second-color: #b9b9b9;
    --primary-color: #b5afaf;
    --black-color: #020101;
    --colordamaria: #23030e;
  }

/* Estilos globais */


html {
    font-size: 62.5%;
  }

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: var(--fontfamilybody2);
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.934)), 
    url('../images/background-main-spone.jpg'); /* O gradiente sobrepõe a imagem */
}

.container {
  display: flex;
  width: 100%; /* 100% da largura da tela */
  height: 100vh; /* 100% da altura da tela */
  margin: 0;
  padding: 0px;
}

/* Reset básico */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Content Left: ocupa 80% */
.content-left {
  position: relative;
  width: 80%; /* Exatamente 80% da largura */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

/* Content Right: ocupa 20% */
.content-right {
  width: 20%; /* Exatamente 20% da largura */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0; /* Remove qualquer padding que interfira */
}

.nav-bar {
  width: 100%;
}

/*DROPDOWN MENU*/


.nav-bar .menu {
    list-style: none;
    display: flex; /* Alinhar itens na horizontal */
    justify-content: flex-start; /* Espaçar os itens */
    align-items: center;
}

.menu-item {
  gap: 2px; /* Espaçamento entre itens */
  font-family: var(--fontfamilybody1);
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--color03);
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
  text-decoration: none;
  padding: 5px 10px;
  align-items: center;
}

.menu-item a {
  font-family: var(--fontfamilybody1);
  font-weight: 700;
  color: var(--color01);
  border-radius: 10px;
  padding: 0.5em 1.5em;
  padding: 0;
}

.nav-bar .menu-item a:hover{
  color:var(--color05);
}

.nav-bar .menu-item.highlighted a { /*APENAS QITCHEN*/
  font-weight: bold;
  font-size: 1.6rem;
  background-color: var(--color05);
  color: var(--colordamaria);
  padding: 5px 10px;
}

.nav-bar .menu-item:hover { /*GERAL*/
  transform: scale(1.1);
}

.nav-bar .menu-item svg:hover { /*GERAL*/
  stroke: #906440;
}

/* Responsividade */
@media (max-width: 768px) {
  .menu {
    flex-direction: column; /* Alinha itens verticalmente */
    align-items: flex-start; /* Alinhar ao início */
    gap: 0.5em; /* Menor espaçamento */
  }

  .menu-item {
    width: 100%; /* Ocupa largura total */
    text-align: left;
  }
}

/* Título */
.title-content header {
  position: absolute;
  bottom: 20px;
  margin-top: auto; /* Move para o final */
  text-align: left;
  padding: 20px;
}

.title-content h1 {
  font-size: 12rem;
  font-family: var(--fontfamilyheader);
  line-height: 1;
  color: var(--color03);
}

.title-content h2 {
  font-family: var(--fontfamilyheader);
  font-size: 5rem;
  color: var(--color03);
}
 
/*FOOTER*/

footer {
  color: var(--color03); /* Cor do texto (branco) */
  padding: 10px 0 0 0; /* Espaçamento no topo e na base */
}

.footer-content {
  position: relative;
  justify-content: space-between; /* Espaça o conteúdo entre os dois lados */
  align-items: center; /* Alinha os itens verticalmente ao centro */
  width: 100%; /* Ocupa toda a largura disponível */
  padding: 0 20px; /* Espaçamento nas laterais */
}

.author-name {
  font-size: 0.8rem;
  font-family: var(--fontfamilybody2);
  text-align: center;
  margin-bottom: 3px;
  color: var(--color08);
}

.social-icons {
  display: flex;
  gap: 15px; /* Espaço entre os ícones */
  justify-content: end;
}

.social-icons a {
  display: inline-block;
  width: 15px;
  height: 15px;
  transition: transform 0.3s ease;
}

.social-icons a:hover {
  transform: scale(1.2); /* Aumenta o ícone ao passar o mouse */
}

.social-icons svg {
  width: 100%;
  height: 100%;
  fill: none; /* Não preenche o fundo */
  stroke: var(--color08); /* Cor do ícone */
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .social-icons {
      gap: 10px; /* Reduz o espaço entre ícones em telas menores */
  }
}

@media (max-width: 480px) {
  .author-name {
      font-size: 1.2rem; /* Reduz o tamanho do texto do autor */
  }

  .social-icons {
      gap: 8px;
  }
}



/*Content Right*/

/* Cards */
.cards {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  height: 100%;
  padding: 5px;
  background-color: var(--color05);
}

.card {
    position: relative;
    flex: 1; /* Todos os cards terão a mesma altura */
    display: flex;
    width: 100%;
    height: 300px;
    border-radius: 10px; /* Adiciona o border-radius diretamente no card */
    overflow: hidden; /* Faz o conteúdo do card respeitar o border-radius */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex-direction: column;
}

.card-image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px; /* Bordas arredondadas aplicadas aqui */
    overflow: hidden; /* Faz com que o conteúdo (imagem) respeite o border-radius*/
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: clip-path 0.3s ease-in-out;
}

.card-footer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: -10%;
  padding: 8px 10px;
  background-color: var(--color05);
  border-radius: 10px 0px; /* Borda arredondada no footer */
  z-index: 1; /* Garante que o footer fique sobre a imagem */
  display: flex;
  align-items: flex-end; /* Alinha o texto na parte inferior */
  gap: 5px;
  text-align: center;
  color: var(--colordamaria);
}

.card-footer h2 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.card-footer svg {
  width: 12px;
  height: 12px;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.7);
}

/* Responsividade */
@media (max-width: 768px) {
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem; /* Espaçamento mais claro entre os cards */
  }

  .card {
    flex: 0 1 calc(50% - 1rem); /* Metade da largura com margem */
    margin: 0.5rem;
  }

  .card-content h2 {
    font-size: 1.2rem;
  }
}
@media (max-width: 480px) {
  .card {
    flex: 0 1 100%; /* Card ocupa toda a largura */
  }
}